---
import { ClientRouter } from 'astro:transitions';
import i18next from 'i18next';
import { LanguageSelector } from 'astro-i18next/components';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} sizes="any" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.svg`} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={`${import.meta.env.BASE_URL}apple-touch-icon.png`} />
    <link rel="manifest" href={`${import.meta.env.BASE_URL}site.webmanifest`} />
    <link rel="sitemap" href={`${import.meta.env.BASE_URL}sitemap-index.xml`} />
    <link rel="alternate" type="application/rss+xml" title="RSS" href={`${import.meta.env.BASE_URL}rss.xml`} />
    <meta name="generator" content={Astro.generator} />
    <!-- style -->
    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/fonts.css`} />
    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/global-styles.css`} />
    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/variables.css`} />

    <title>{title}</title>
    <meta name="description" content="Minimal Astro starter" />

    <ClientRouter />
  </head>
  <body>
    <LanguageSelector />

    <slot />
  </body>
</html>

<style></style>
